version: 1
validation: sovereign
accounts: 
- name: pioneer1
  coins: ["1000000qdn"]
  mnemonic: "nest gown ability blouse ski tortoise wall female across know accuse guard shy drive grunt assault cricket solar pave arrange actress ring more country"
- name: create-wallet-sponsor
  coins: ["100000qdn"]
  mnemonic: "guilt decline utility scale crash envelope snap table dress coach tray use detect success lemon fatigue surround project warfare victory mean midnight address before"
- name: treasury
  coins: ["2000000000qdn"] # 2 billion 
  mnemonic: "eyebrow unaware jealous actor annual farm radio open sword memory other secret twelve reduce festival buddy peace fun film return sniff december february post"
- name: coingecko-oracle
  coins: ["100000qdn"]
  mnemonic: "area symptom room bomb atom relief give pole relief truly elbow unknown undo wild clutch ozone liar small occur off enjoy shop busy meadow"
- name: band-protocol-oracle
  coins: ["100000qdn"]
  mnemonic: "verb select bread spirit beyond snow slender lumber ramp rule tribe soldier help area remove guard cage knife witness era mule afford wage like"
- name: coopnetidentitysrvprv
  coins: ["1000000qdn"]
  mnemonic: "clarify whip jungle dune joke entry federal liquid pen journey reject flush evolve disorder slim upon stomach airport affair member occur code twice isolate"
- name: mayaidentitysrvprv
  coins: ["1000000qdn"]
  mnemonic: "penalty caution equip sound they soccer edge debris paddle add purity swap minute defense mass nature hood long diagram auction fat wish story minute"
- name: coinsphidentitysrvprv
  coins: ["1000000qdn"]
  mnemonic: "crunch theory census zoo olympic holiday they early chunk before humor word smile wisdom casual album nation perfect rotate toward have dress wear also"
- name: unionbankidentitysrvprv
  coins: ["1000000qdn"]
  mnemonic: "among umbrella kingdom vote demise fetch eternal era lab thumb artefact tourist mail cactus album nation tuna fresh rule caution patch guilt body bean"
- name: testfinancesrvprv
  coins: ["1000000qdn"]
  mnemonic: "ill seed tent goose two trophy harsh noise winter conduct educate lady man spice sport charge primary fever acoustic famous message myth unlock dust"
- name: testidentitysrvprv
  coins: ["1000000qdn"]
  mnemonic: "lemon onion exit success feature wait admit permit nation behind vintage summer oven weird blue flash motor maple fiber domain cement inmate slogan avoid"
- name: testdsvssrvprv
  coins: ["1000000qdn"]
  mnemonic: "twenty shoulder tomato hawk toilet pave famous critic undo beef country object perfect staff net dilemma fade insane enemy oven barrel organ cherry problem"

client:
  openapi:
    path: docs/static/openapi.yml
validators:
- name: pioneer1
  bonded: 100000qdn
  app:
    minimum-gas-prices: "500000000aqdn"
    pruning: "custom"
    pruning-keep-recent: "100"
    pruning-interval: "10"
    wasm:
      query_gas_limit: "300000"
      memory_cache_size: "300"
    evm:
      tracer: ""
      max-tx-gas-wanted: "0"
      cache-preimage: false
      min-tip: "0"
      geth-metrics-address: "127.0.0.1:8100"
      mempool:
        price-limit: "1"
        price-bump: "10"
        account-slots: "16"
        global-slots: "5120"
        account-queue: "64"
        global-queue: "1024"
        lifetime: "3h0m0s"
    json-rpc:
      enable: true
      address: "127.0.0.1:8545"
      ws-address: "127.0.0.1:8546"
      ws-origins:
        - "127.0.0.1"
        - "localhost"
      api: "eth,net,web3"
      gas-cap: "25000000"
      allow-insecure-unlock: true
      evm-timeout: "5s"
      txfee-cap: "1"
      filter-cap: "200"
      feehistory-cap: "100"
      logs-cap: "10000"
      block-range-cap: "10000"
      http-timeout: "30s"
      http-idle-timeout: "2m0s"
      allow-unprotected-txs: false
      max-open-connections: "0"
      enable-indexer: false
      metrics-address: "127.0.0.1:6065"
      batch-request-limit: "1000"
      batch-response-max-size: "25000000"
      enable-profiling: false
    state-sync:
      snapshot-interval: "2000"
      snapshot-keep-recent: "3"
  config:
    log_level: "debug"
    moniker: "pioneer1"
    consensus:
      timeout_propose: "4s"
    p2p:
      addr_book_strict: false
    priv_validator_laddr: "tcp://0.0.0.0:26659"
      
  client:
    chain-id: "qadena_4444-1"
build:
  main: cmd/qadenad

genesis:
  chain_id: "qadena_4444-1"
  app_state:
    staking:
      params:
        bond_denom: "aqdn"
    "bank": {
      "denom_metadata": [
        {
          "description": "",
          "denom_units": [
            {
              "denom": "aqdn",
              "exponent": 0,
              "aliases": []
            },
            {
              "denom": "qdn",
              "exponent": 18,
              "aliases": []
            }
          ],
          "base": "aqdn",
          "display": "qdn",
          "name": "Qadena Token",
          "symbol": "qdn"
        }
      ]
    }
    mint:
      params:
        mint_denom: "aqdn"
    gov:
      params:
        expedited_min_deposit:
          - denom: "aqdn"
            amount: "10000000000000000000"
        expedited_voting_period: "30s"
        min_deposit:
          - denom: "aqdn"
            amount: "1000000000000000000"
        voting_period: "300s"
    wasm:
      codes: []
      contracts: []
      params:
        code_upload_access:
          addresses: []
          permission: "Everybody"
        instantiate_default_permission: "Everybody"
      sequences: []
    evm:
      accounts: []
      params:
        access_control:
          call:
            access_control_list: []
            access_type: ACCESS_TYPE_PERMISSIONLESS
          create:
            access_control_list: []
            access_type: ACCESS_TYPE_PERMISSIONLESS
        active_static_precompiles: []
        evm_channels: []
        evm_denom: aqdn
        extended_denom_options:
          extended_denom: aqdn
        extra_eips: []
        history_serve_window: "8192"
      preinstalls: []
    crisis:
      constant_fee:
        amount: "1000000"
        denom: "qdn"
    protocolpool:
      params:
        enabled_distribution_denoms:
          - "aqdn"
    qadena:
      params:
        # main wallet granted by sponsor upon wallet creation (encrypted)
        create_wallet_incentive:
          amount: "500"
          denom: "qdn"
        # main wallet granted by sponsor upon wallet creation (transparent)
        create_wallet_transparent_incentive:
          amount: "500"
          denom: "qdn"
        # sub wallet granted by sponsor upon sub wallet creation (encrypted)
        create_ephemeral_wallet_incentive:
          amount: "0"
          denom: "qdn"
        # sub wallet granted by sponsor upon sub wallet creation (transparent)
        create_ephemeral_wallet_transparent_incentive:
          amount: "50"
          denom: "qdn"
        create_credential_fee: "30php"
        create_bulk_credentials_fee: "10php"
        ekyc_submit_new_app_royalty_percentage: "40"
        ekyc_submit_reuse_app_royalty_percentage: "20"
        ekyc_submit_reuse_provider_royalty_percentage: "20"
        ekyc_identity_owner_royalty_percentage: "30"
      enclaveIdentityList:
        - uniqueID: test-unique-id
          signerID: test-signer-id
          productID: test-product-id
          status: active
      publicKeyList:
        - pubKID: pioneer1PubKID
          pubK: pioneer1PubK_pubk
          pubKType: transaction
        - pubKID: pioneer1PubKID
          pubK: pioneer1PubK_pubk
          pubKType: credential
        - pubKID: testidentitysrvprvPubKID
          pubK: testidentitysrvprvPubK_pubk
          pubKType: transaction
        - pubKID: testidentitysrvprvPubKID
          pubK: testidentitysrvprvPubK_pubk
          pubKType: credential
        - pubKID: testdsvssrvprvPubKID
          pubK: testdsvssrvprvPubK_pubk
          pubKType: transaction
        - pubKID: testdsvssrvprvPubKID
          pubK: testdsvssrvprvPubK_pubk
          pubKType: credential
        - pubKID: testfinancesrvprvPubKID
          pubK: testfinancesrvprvPubK_pubk
          pubKType: transaction
        - pubKID: testfinancesrvprvPubKID
          pubK: testfinancesrvprvPubK_pubk
          pubKType: credential
        - pubKID: mayaidentitysrvprvPubKID
          pubK: mayaidentitysrvprvPubK_pubk
          pubKType: transaction
        - pubKID: mayaidentitysrvprvPubKID
          pubK: mayaidentitysrvprvPubK_pubk
          pubKType: credential
        - pubKID: coopnetidentitysrvprvPubKID
          pubK: coopnetidentitysrvprvPubK_pubk
          pubKType: transaction
        - pubKID: coopnetidentitysrvprvPubKID
          pubK: coopnetidentitysrvprvPubK_pubk
          pubKType: credential
        - pubKID: coinsphidentitysrvprvPubKID
          pubK: coinsphidentitysrvprvPubK_pubk
          pubKType: transaction
        - pubKID: coinsphidentitysrvprvPubKID
          pubK: coinsphidentitysrvprvPubK_pubk
          pubKType: credential
        - pubKID: unionbankidentitysrvprvPubKID
          pubK: unionbankidentitysrvprvPubK_pubk
          pubKType: transaction
        - pubKID: unionbankidentitysrvprvPubKID
          pubK: unionbankidentitysrvprvPubK_pubk
          pubKType: credential
      intervalPublicKeyIDList:
        - pubKID: pioneer1PubKID
          nodeType: pioneer
          nodeID: pioneer1
        - pubKID: treasuryPubKID
          nodeType: treasury
          nodeID: treasury
        - pubKID: testidentitysrvprvPubKID
          nodeType: srv-prv
          nodeID: testidentitysrvprv
          serviceProviderType: identity
          homePioneerID: pioneer1
        - pubKID: testdsvssrvprvPubKID
          nodeType: srv-prv
          nodeID: testdsvssrvprv
          serviceProviderType: dsvs
          homePioneerID: pioneer1
        - pubKID: testfinancesrvprvPubKID
          nodeType: srv-prv
          nodeID: testfinancesrvprv
          serviceProviderType: finance
          homePioneerID: pioneer1
        - pubKID: mayaidentitysrvprvPubKID
          nodeType: srv-prv
          nodeID: mayaidentitysrvprv
          serviceProviderType: identity
          homePioneerID: pioneer1
        - pubKID: coinsphidentitysrvprvPubKID
          nodeType: srv-prv
          nodeID: coinsphidentitysrvprv
          serviceProviderType: identity
          homePioneerID: pioneer1
        - pubKID: coopnetidentitysrvprvPubKID
          nodeType: srv-prv
          nodeID: coopnetidentitysrvprv
          serviceProviderType: identity
          homePioneerID: pioneer1
        - pubKID: unionbankidentitysrvprvPubKID
          nodeType: srv-prv
          nodeID: unionbankidentitysrvprv
          serviceProviderType: identity
          homePioneerID: pioneer1
    pricefeed:
      params:
        markets:
          - active: true
            baseAsset: "qdn"
            marketId: "cn:qdn:usd"
            quoteAsset: "usd"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
          - active: true
            baseAsset: "qdn"
            marketId: "cn:qdn:php"
            quoteAsset: "php"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
          - active: true
            baseAsset: "php"
            marketId: "fn:php:usd"
            quoteAsset: "usd"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
          - active: true
            baseAsset: "aud"
            marketId: "fn:aud:usd"
            quoteAsset: "usd"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
          - active: true
            baseAsset: "btc"
            marketId: "cn:btc:usd"
            quoteAsset: "usd"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
          - active: true
            baseAsset: "eth"
            marketId: "cn:eth:usd"
            quoteAsset: "usd"
            oracles:
              - "coingecko-oraclePubKID"
              - "band-protocol-oraclePubKID"
      postedPriceList:
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "cn:qdn:usd"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "0.01"
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "cn:qdn:php"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "0.5713"
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "fn:php:usd"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "0.0174"
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "fn:aud:usd"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "0.676955"
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "cn:btc:usd"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "17217.06"
        - expiry: "2030-01-01T00:00:00Z"
          marketId: "cn:eth:usd"
          oracleAddress: "band-protocol-oraclePubKID"
          price: "1282.63"
